---
import { Icon } from 'astro-icon/components'
import { Copyright } from './Copyright'

const links = [
  { href: '/services', text: 'Services' },
  { href: '/about', text: 'About' },
  { href: '/contact', text: 'Contact Us' },
]

const socialMedia = [
  {
    href: 'https://github.com/agathist',
    iconName: 'github-logo',
    title: 'Github',
  },
  {
    href: 'https://twitter.com/agathist_',
    iconName: 'twitter-logo',
    title: 'Twitter',
  },
  {
    href: 'https://linkedin.com/company/agathist',
    iconName: 'linkedin-logo',
    title: 'LinkedIn',
  },
]
---

<footer
  class="flex flex-col items-center gap-8 p-8 sm:flex-row-reverse sm:items-end sm:justify-between sm:gap-4"
>
  <div class="flex flex-col items-center gap-8 sm:items-end sm:gap-6">
    <div class="flex items-center gap-8">
      {
        socialMedia.map(({ href, iconName, title }) => (
          <a
            class="block"
            href={href}
            title={title}
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="sr-only">{href}</span>
            <Icon
              class="h-8 w-8 text-rose-400 transition-colors hover:text-pink-500"
              name={iconName}
            />
          </a>
        ))
      }
    </div>

    <nav>
      <ul class="flex gap-6">
        {
          links.map((link) => (
            <a class="text-gray-300 hover:text-white" href={link.href}>
              {link.text}
            </a>
          ))
        }
      </ul>
    </nav>
  </div>

  <p><Copyright client:load /> Agathist</p>
</footer>
